body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(98, 21, 113);
  color: beige;
}

main {
  color: #ffffff;
}

button {
    padding: 4px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 105%;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 57, 169);
}

button:hover {
  background-color: rgb(113, 93, 172);
}