@import url(base.css);

input,
select,

textarea {
  margin-left: 30px;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 105%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid white 1px;
  width: 700px;
}

div {
  margin-left: 350px;
  margin-top: 16px;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"h"
		"n"
		"m"
		"f";
}

@media (min-width: 800px) {
	body {
		grid-template-columns: 192px 1fr; 
		grid-template-rows: 64px auto 64px;
		grid-template-areas:
			"h h"
			"n m"
			"f f";
	}
}
