@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

img {
  border-radius: 12px;
}

article {
  background-color: rgb(159, 154, 164);
  border-radius: 16px;
  padding: 16px;
  margin: 2vw;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}

.container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        body {
            background-color: rgb(227, 236, 238);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(9, 2, 32);
        }

        h2 {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(0, 0, 0);
            padding-left: 0;
        }

        article.movie {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 40px;
            width: 80%;
            max-width: 1200px;
        }

        .movie-left {
            flex: 1;
            text-align: center;
            margin-right: 20px;
        }

        .movie-right {
            flex: 2;
        }

        section {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(218, 218, 221);
        }

        p {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(0, 0, 0);
            padding-left: 0;
        }

        img {
            width: 200px;
            height: auto;
            border-radius: 12px;
        }

        .edit-button {
            display: block;
            margin: 10px auto;
            width: fit-content;
        }

        section.movie-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 20px auto;
        }
